[[source]]
url = "${KRUX_PIP_PROP_URL}"
verify_ssl = true
name = "kruxprop"

[[source]]
url = "${KRUX_PIP_FOSS_URL}"
verify_ssl = true
name = "kruxfoss"

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
krux-boto = {version="==1.5.1", index="kruxfoss"}
simplejson = {version="==3.13.2", index="pypi"}

[dev-packages]
coverage = {version="*", index="pypi"}
mock = {version="*", index="pypi"}
nose = {version="*", index="pypi"}

[requires]
python_version = "2.7"
