[[source]]
url = "${KRUX_PIP_PROP_URL}"
verify_ssl = false
name = "kruxprop"

[[source]]
url = "${KRUX_PIP_FOSS_URL}"
verify_ssl = false
name = "kruxfoss"

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
krux-boto = "==1.5.1"
simplejson = "==3.13.2"

[dev-packages]
coverage = "*"
mock = "*"
nose = "*"

[requires]
python_version = "2.7"
